body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mycontainer {
  max-width: 1140px;
  width: 100%;
  height: 100%;
  /* border: 4px solid green; */
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .mycontainer {
    padding: 0 15px;
  }
}
