body {
  margin: 0;
  color: #000;
}

div {
  background-color: #5fdd8b;
  width: 100px;
  height: 50px;
  margin: 20px;
  padding: 20px;
  /* vertical-align : bottom */
}
/* Блочный элемент,
высотой с контент или пропадает,
шириной 100%. Текст выпадает. На него не действует свойства, которые выравнивают строчные элементы по вертикали типа vertical-align : bottom , могут содержать и строчные, и блочные, кроме p */

a {
  background-color: #ffeb3b80;
  color: #000;
  /* width: 100px;
  height: 50px; */
  margin: 20px;
  padding: 20px;
  line-height: 3.5;
  /* Так мы можем попробовать поместить большую ссылку в текст */
  vertical-align: bottom;
  /* Так мы можем управлять вертикальным выравниванием строки, которая соприкасается с ссылкой */
}

span {
  background-color: #d5e5ebb4;
}

/* Строчные элементы идут друг за другом , текст из них никогда не выпадет. Ни ширина , ни высота не будут работать. Отступ может применяться только слева и справа, с отступами все также. Можно вкладывать только строчные, кроме ссылки*/

button {
  background-color: #03a8f4b4;
  width: 100px;
  height: 50px;
  margin: 20px;
  padding: 20px;
  vertical-align: bottom;
}

/* Строчно-блочные элементы размер по контенту, мы можем регулировать ширину и высоту, отступы работают хорошо, управление строкой и выравнивание по вертикали работает. Вкладывать можно все, что угодно */
