header {
  background-color: lightcoral;
  height: 100px;
}
main {
  background-color: lightblue;
  flex-grow: 1;
  /* Мы забираем все пространство оставшееся под этот элемент */
}

footer {
  background-color: rgb(135, 250, 141);
  height: 50px;
}

.wrap {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
